/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
greamit-admin.sublime-project
greamit-admin.sublime-workspace
.DS_Store
.DS_Store
.DS_Store
node_modules/
composer.lock
/node_modules
/node_modules/*